{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'ccf/css/bootstrap.min.css' %}">
    <!-- Our title -->
    {% if title %}
        <title>CCF - {{ title }}</title>
    {% else %}
        <title>CCF - No Title</title>
    {% endif %}
  </head>
  <body>
    <h1>Hello, world!</h1>
    <!-- Optional JavaScript -->
    <script src="{% static 'ccf/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
