{% extends "ccf/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'ccf:user-clients' object.therapist.username %}">{{ client.therapist }}</a>
        <!-- we use a filter on date_added to get desired formatting -->
        <small class="text-muted">{{ object.date_added|date:"d F, Y" }}</small>
        {% if object.therapist == user %}
          <!-- the 'div' moves the update and delete button to the next line -->
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ccf:client-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ccf:client-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.friendly_name }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Tab 1</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Tab 2</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#simple-tabpanel-2" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Tab 3</a>
        </li>
      </ul>
      <div class="tab-content pt-2" id="tab-content">
        <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">
         <table>
          {% for label, value in object.get_detail_fields %}
            <tr>
              <td>{{ label }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
          </table>
        </div>
        <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">
          Tab 2 selected
        </div>
        <div class="tab-pane" id="simple-tabpanel-2" role="tabpanel" aria-labelledby="simple-tab-2">
          Tab 3 selected
        </div>
      </div>
    </div>
  </article>
{% endblock content %}