{% extends "ccf/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ model }}</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">{{ action }}</button>
        {% if model == 'User' %}
        <a class="btn btn-outline-secondary" href="{% url cancel_url user %}">Cancel</a>
        {% else %}
        <a class="btn btn-outline-secondary" href="{% url cancel_url client_id=view.kwargs.client_id tab=client_tab %}">Cancel</a>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock content %}