{% extends "ccf/base.html" %}
{% block content %}
{% load custom_filters %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'ccf:client-detail' pk=object.client.id tab=CLIENT_TAB_NOTES %}">{{ object.client }}</a>
        <small class="text-muted">Last updated: {{ object.date_updated|date:"d F, Y" }}</small>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      </div>
      {% if object.client.therapist == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url update_url client_id=object.client.id pk=object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url delete_url client_id=object.client.id pk=object.id %}">Delete</a>
      {% endif %}
  </article>
{% endblock content %}