{% extends "ccf/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ model }}</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">{{ action }}</button>
        <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}